/lib/Pandora/libPenjinTwoTrenkiFixed.so
/lib/Pandora/libPenjinTwo.so
/include/StringUtility.cpp.save
/include/StringUtility.h.save
/include/VariableManager.cpp.save
/include/Widget.h.save
/lib/Linux/PenjinTwoTrenkiFixedD.so
/lib/Linux/libPenjinTwoD.so
/lib/Linux/libPenjinTwoTrenkiFixedD.so
/lib/Pandora/libPenjinTwoD.so
/lib/Pandora/libPenjinTwoTrenkiFixedD.so
/lib/W32/libPenjinTwo.dll
/lib/W32/libPenjinTwoD.dll
/lib/W32/libPenjinTwoD.so
/lib/W32/~gvf5RQk.tmp
/include/GFX.cpp.save
/include/GFX.h.save
/include/Game.cpp.save
/include/HiScore.cpp.save
/include/Image.cpp.save
/include/ImageSheet.h.save
/include/IniFile.h.save
/include/KeyMapper.cpp~
/include/KeyMapper.h.save
/include/Menu.h.save
/include/PhysicsProcessor.cpp.save
/include/PhysicsProcessor.h.save
/include/Primitive.h.save
/include/Random.cpp.save
/include/Random.h.save
/include/Rectangle.cpp.save
/include/RenderObject.cpp.save
/include/Renderer.h.save
/include/RendererSDL_2d.cpp.save
/include/RotationObject.cpp.save
/include/RotationObject.h.save
/include/ScalingObject.h.save
/include/ScreenQuadTree.cpp.save
/include/CollisionObject.cpp.save
/include/CollisionObject.h.save
/include/Colour.h.save
/include/ConsoleApplication.h.save
/include/DynamicCollisionEllipse.cpp.save
/include/DynamicCollisionEllipse.h.save
/include/DynamicCollisionObject.cpp.save
/include/DynamicCollisionObject.h.save
/include/Encryption.cpp.save
/PenjinTwoConsole.cbp.save
/PenjinTwoConsole.depend
/PenjinTwoConsole.layout
/PenjinTwoConsole.layout.save
/PenjinTwoConsoleApplication.depend
/PenjinTwoConsoleApplication.layout
/PenjinTwoCore.cbp~
/PenjinTwoEnumParser.depend
/PenjinTwoEnumParser.layout
/PenjinTwoErrorHandler.depend
/PenjinTwoErrorHandler.layout
/PenjinTwoGFX.depend
/PenjinTwoGFX.layout
/PenjinTwoGUI.depend
/PenjinTwoGUI.layout
/PenjinTwoGame.cbp.save
/PenjinTwoGame.depend
/PenjinTwoGame.layout
/PenjinTwoGame.layout.save
/PenjinTwoGame.layout.u1conflict
/PenjinTwoIni.depend
/PenjinTwoIni.layout
/PenjinTwoLocalisedStringManager.depend
/PenjinTwoLocalisedStringManager.layout
/PenjinTwoMMUHack.depend
/PenjinTwoMMUHack.layout
/PenjinTwoNumberUtility.depend
/PenjinTwoNumberUtility.layout
/PenjinTwoPhysics.depend
/PenjinTwoPhysics.layout
/PenjinTwoRandom.depend
/PenjinTwoRandom.layout
/PenjinTwoRendererGL2D.depend
/PenjinTwoRendererGL2D.layout
/PenjinTwoRendererGL3D.depend
/PenjinTwoRendererGL3D.layout
/PenjinTwoRendererSDL2D.depend
/PenjinTwoRendererSDL2D.layout
/PenjinTwoRendererSDL3D.depend
/PenjinTwoRendererSDL3D.layout
/PenjinTwoSimpleJoy.depend
/PenjinTwoSimpleJoy.layout
/PenjinTwoStateManager.depend
/PenjinTwoStateManager.layout
/PenjinTwoStringUtility.depend
/PenjinTwoStringUtility.layout
/PenjinTwoText.depend
/PenjinTwoText.layout
/PenjinTwoTextFile.depend
/PenjinTwoTextFile.layout
/PenjinTwoTimer.depend
/PenjinTwoTimer.layout
/PenjinTwoTrenkiFixed.cbp.save
/PenjinTwoTrenkiFixed.depend
/PenjinTwoTrenkiFixed.layout
/PenjinTwoTrenkiFixed.layout.save
/PenjinTwoTrenkiSoftGPU.depend
/PenjinTwoTrenkiSoftGPU.layout
/PenjinTwoTrenkiSoftGPU.layout.save
/PenjinTwoTypes.depend
/PenjinTwoTypes.layout
/PenjinTwoApplication.depend
/PenjinTwoApplication.layout
/PenjinTwoBitBank.cbp.save
/PenjinTwoBitBank.layout
/PenjinTwoBitBank.layout.save
/PenjinTwoBrad.depend
/PenjinTwoBrad.layout
/PenjinTwoConfigManager.depend
/PenjinTwoConfigManager.layout
/include/BitBank.h.save

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*